<!-- <div class="barra">
    <span>Dra. Claudia E. Morales M. | Reg. médico 1234</span>
    <div>
        Copyright &copy; 2019
    </div>
</div> -->
<footer class="footer-distributed">

    <div class="footer-right">
        <a href="#"><img src="../../../assets//img/facebook.svg"></a>
        <a href="https://www.youtube.com/channel/UCdwFRe_DQjYP9K77GdXCHiw" target="_blank"><img src="../../../assets//img/youtube.svg"></a>
    </div>

    <div class="footer-left">
        <p class="footer-links">
            Dra. Claudia Elena Morales M | Registro médico N° 12345
        </p>
        <p>Todos los derechos reservados &copy; 2019</p>
    </div>
</footer>