/* .barra {
    position: absolute !important;
    width: 100% !important;
    color: rgba(67, 119, 169, 1);
    font-weight: bold;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-top-style: solid;
    border-top-color: rgba(67, 119, 169, 0.3);
} */

.footer-distributed {
    background-color: white;
    border-top-style: solid;
    border-top-color: rgba(67, 119, 169, 0.3);
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 20px 35px;
    margin-top: 80px;
}

.footer-distributed .footer-left p {
    color: rgba(67, 119, 169, 1);
    font-size: 14px;
    margin: 0;
}


/* Footer links */

.footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: rgba(67, 119, 169, 1);
    margin: 0 0 10px;
    padding: 0;
}

.footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

.footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 2px;
    font-size: 20px;
    color: rgba(67, 119, 169, 1);
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
}


/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {
    .footer-distributed .footer-left,
    .footer-distributed .footer-right {
        text-align: center;
    }
    .footer-distributed .footer-right {
        float: none;
        margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
        line-height: 1.8;
    }
}