<div class="barra">
    <div class="row">
        <div class="col align-self-start texto">
            <div class="row"><span>Dra. Claudia Elena. Morales Montoya.</span></div>
            <div class="row"><span>Universidad Cooperativa de Colombia UCC</span></div>
        </div>
        <div class="col align-self-center texto_copy">
            <span>Copyright &copy; 2019</span>
        </div>
        <div class="col redes">
            <a href="https://www.facebook.com/consClaudia/" target="_blank" class="facebook">
                <img src="assets/img/redes/facebook.svg">
            </a>
            <a href="https://www.youtube.com/channel/UCdwFRe_DQjYP9K77GdXCHiw" target="_blank" class="youtube">
                <img src="assets/img/redes/youtube.svg">
            </a>
            &nbsp;
            <a href="https://instagram.com/claudia_morales_odontologa?igshid=sc8v6aq525vg" target="_blank">
                <img src="assets/img/redes/instagram.svg" class="instagram">
            </a>
        </div>
    </div>
</div>