h2 {
    color: rgba(67, 119, 169, 1);
    font-weight: bold;
    text-align: center;
}

h3 {
    color: rgba(67, 119, 169, 1);
    font-weight: bold;
    text-align: center;
}

.col-sm {
    text-align: center;
}

img {
    height: 30%;
    width: 30%;
}

agm-map {
    height: 300px;
}