<div class="container">
    <h2>Contáctenos</h2><br>
    <div class="row">
        <div class="col-sm">
            <img src="assets/img/telefono.svg">
            <h3>Contacto</h3>
            <p>
                (+57) 322 705 2980<br> muelitasmorales@gmail.com
            </p>
        </div>
        <div class="col-sm">
            <img src="assets/img/ubicacion.svg">
            <h3>Ubicación</h3>
            <p>
                Carrera 46 # 54 - 14 <br>Consultorio 1303<br>
                <a target="_blank" href="https://www.google.com/maps/place/Edificio+Comedal/@6.2512965,-75.5635344,19z/data=!4m12!1m6!3m5!1s0x8e4429a99808874f:0xba09b80c76bc38df!2sEdificio+Comedal!8m2!3d6.2512232!4d-75.5630516!3m4!1s0x8e4429a99808874f:0xba09b80c76bc38df!8m2!3d6.2512232!4d-75.5630516">Edificio Comedal</a>
            </p>
        </div>
    </div>
</div>