h2 {
    color: rgba(67, 119, 169, 1);
    font-weight: bold;
    text-align: center;
}

.titulo {
    color: rgba(67, 119, 169, 1);
    font-weight: bold;
    text-align: justify;
}

.row {
    margin-bottom: 35px;
}

img {
    width: 100px;
    height: 100px;
}

.col-sm {
    text-align: center;
}

p {
    text-align: justify !important;
}