<div class="container">
    <h2>Servicios</h2><br>
    <div class="row">
        <div class="col-sm">
            <img src="assets/img/cirugia.svg"><br>
            <h3 class="titulo">Cirugia dental</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione ipsa distinctio consequuntur sapiente, beatae officia placeat, itaque accusamus dolore minus quisquam quibusdam expedita consequatur harum tenetur voluptates totam laboriosam
                omnis?
            </p>
            <ul>
                <li>
                    Sed ut perspiciatis unde omnis iste natus
                </li>
                <li>
                    Accusantium doloremque laudantium totam rem
                </li>
            </ul>
        </div>
        <div class="col-sm">
            <img src="assets/img/consulta.svg"><br>
            <h3 class="titulo">Revisiones periodicas</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione ipsa distinctio consequuntur sapiente, beatae officia placeat, itaque accusamus dolore minus quisquam quibusdam expedita consequatur harum tenetur voluptates totam laboriosam
                omnis?
            </p>
            <ul>
                <li>
                    Sed ut perspiciatis unde omnis iste natus
                </li>
                <li>
                    Accusantium doloremque laudantium totam rem
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <img src="assets/img/higiene.svg"><br>
            <h3 class="titulo">Higiene dental</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione ipsa distinctio consequuntur sapiente, beatae officia placeat, itaque accusamus dolore minus quisquam quibusdam expedita consequatur harum tenetur voluptates totam laboriosam
                omnis?
            </p>
            <ul>
                <li>
                    Sed ut perspiciatis unde omnis iste natus
                </li>
                <li>
                    Accusantium doloremque laudantium totam rem
                </li>
            </ul>
        </div>
        <div class="col-sm">
            <img src="assets/img/implantes.svg"><br>
            <h3 class="titulo">Implantes</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione ipsa distinctio consequuntur sapiente, beatae officia placeat, itaque accusamus dolore minus quisquam quibusdam expedita consequatur harum tenetur voluptates totam laboriosam
                omnis?
            </p>
            <ul>
                <li>
                    Sed ut perspiciatis unde omnis iste natus
                </li>
                <li>
                    Accusantium doloremque laudantium totam rem
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <img src="assets/img/brackets.svg"><br>
            <h3 class="titulo">Ortodoncia</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione ipsa distinctio consequuntur sapiente, beatae officia placeat, itaque accusamus dolore minus quisquam quibusdam expedita consequatur harum tenetur voluptates totam laboriosam
                omnis?
            </p>
            <ul>
                <li>
                    Periodoncia
                </li>
                <li>
                    Endodoncia
                </li>
            </ul>
        </div>
    </div>
</div>