<div class="container">
    <h2>Servicios</h2><br>
    <div class="row">
        <div class="col-sm">
            <img src="assets/img/cirugia.svg"><br>
            <h3 class="titulo">Cirugia oral</h3>
            <p>La cirugía oral nos ayuda a resolver dificultades en la cavidad oral como:</p>
            <ul>
                <li>Extracciones de terceros molares (cordales).</li>
                <li>Piezas retenidas o restos apicales.</li>
                <li>Fenestración o tracción de dientes retenidos.</li>
                <li>Plastia de frenillos labiales.</li>
                <li>Extirpación de quistes en los maxilares y pequeños tumores de la cavidad oral.</li>
                <li>Reemplazo dental (implantes) y cirugías protésicas (regularización de rebordes óseos).</li>
                <li>Perfilamiento facial (bichectomia).</li>
            </ul>
            <p><b>Los procedimientos se realizan con anestesia local.</b></p>
        </div>
        <div class="col-sm">
            <img src="assets/img/implant.svg"><br>
            <h3 class="titulo">Éstetica</h3>
            <p>La odontología estética o cosmética es una especialidad de la odontología que soluciona problemas relacionados con la armonía de la boca en su totalidad
            </p>
            <ul>
                <li>Recortes gingivales.</li>
                <li>Cierres de diastemas.</li>
                <li>Regularización de bordes incisales.</li>
                <li>Carillas en resina o cerámica.</li>
                <li>Lentes cerámicos.</li>
                <li>Perforación de labios.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <img src="assets/img/higiene.svg"><br>
            <h3 class="titulo">Rehabilitación oral</h3>
            <p>Parte de la odontología que devuelve la función estética y armonía oral mediante <b>prótesis dentales</b>. Combina en forma integral prótesis fija y prótesis removible; es de ayuda cuando tenemos pérdidas de dientes, grandes destrucciones
                o se requiere solucionar problemas estéticos, siempre buscando una oclusión y función adecuada.
            </p>
            <p style="font-size: 0.7rem; letter-spacing: 0.6px;"><b>*Prótesis dental:</b> es un elemento artificial destinado a restaurar la anatomía de una o varias piezas dentarias, restaurando también la relación entre los maxilares, a la vez que devuelve la dimensión vertical y repone los dientes.</p>
        </div>
        <div class="col-sm">
            <img src="assets/img/bacterium.svg"><br>
            <h3 class="titulo">Periodoncia</h3>
            <p>Nos ayuda a resolver la enfermedad en los tejidos de soporte del diente. Esta se manifiesta inicialmente como una inflamación o infección de las encías (gingivitis) y no es tratada. La infección e inflamación se diseminan desde las encías
                hasta los ligamentos y el hueso formando una bolsa que almacena placa bacteriana.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <img src="assets/img/rootCanal.png"><br>
            <h3 class="titulo">Endodoncia</h3>
            <p>Tratamiento de los conductos radiculares o raíces del diente, en el que se procede a la extracción total de la pulpa dental</p>
            <ul>
                <li>Cirugias apicales.</li>
            </ul>
        </div>
        <div class="col-sm">
            <img src="assets/img/consulta.svg"><br>
            <h3 class="titulo">Promoción y prevención</h3>
            <p>La <b>promoción</b> de la salud oral y la <b>prevención</b> de la enfermedad de los tejidos bucales son todas aquellas acciones, procedimientos e intervenciones integrales, orientadas a que los usuarios mejoren sus condiciones y hábitos recuperando
                la salud y permaneciendo sanos.
            </p>
            <ul>
                <li>Valoración y diagnóstico.</li>
                <li>Detartraje y profilaxis.</li>
                <li>Topicasion con fluor y citas de control.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <img src="assets/img/dentist.svg"><br>
            <!-- <img src="assets/img/operatoria.jpg"><br> -->
            <h3 class="titulo">Operatoria</h3>
            <p>Restauración de las piezas dentarias afectadas por procesos patológicos, traumáticos, congénitos, etc. para devolverles su forma, función y estética.
            </p>
            <ul>
                <li>Cambio de restauraciones negras (amalgama) por blancas (resinas).</li>
            </ul>
        </div>
    </div>

</div>