<div class="container">
    <!--<h3>Clientes felices</h3>
     <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="assets/img/carousel/ortodoncia/ortodoncia.jpg" class="d-block w-100" alt="Ortodoncia">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Ortodoncia</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="assets/img/carousel/protesisTotal/2.jpg" class="d-block w-100" alt="Prótesis total">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Prótesis total</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="assets/img/carousel/ninos.jpg" class="d-block w-100" alt="Pequeños">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Hasta los más pequeños están felices</h5>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>
    </div> -->
    <div class="row">
        <div class="col-sm">
            <img src="assets/img/telefono.svg" class="icons">
            <h3>Contacto</h3>
            <p>
                (+57) 322 705 2980<br>muelitasmorales@gmail.com
            </p>
        </div>
        <div class="col-sm">
            <img src="assets/img/tiempo.svg" class="icons">
            <h3>Horario</h3>
            <p>
                <strong>Lunes a Viernes</strong> <br> 7:00 am - 1:00 pm <br> 2:00 pm - 6:00pm <br>
                <strong>Sábado</strong><br> 7:00 am - 1:00 pm <br>
            </p>
        </div>
        <div class="col-sm">
            <img src="assets/img/ubicacion.svg" class="icons">
            <h3>Ubicación</h3>
            <p>
                Carrera 46 # 54 - 14 <br>Consultorio 1303<br> Edificio Comedal<br><br>
                <a target="_blank" href="https://www.google.com/maps/place/Cra.+46+%2320,+Medell%C3%ADn,+Antioquia/@6.2513471,-75.56376,19z/data=!4m19!1m13!4m12!1m6!1m2!1s0x8e4429a99808874f:0xba09b80c76bc38df!2sEdificio+Comedal,+Cra.+46+%23%2354-14,+Medell%C3%ADn,+Antioquia!2m2!1d-75.5630516!2d6.2512232!1m3!2m2!1d-75.5633616!2d6.2514396!3e2!3m4!1s0x8e4428f9d03d7249:0x848f992a08921673!8m2!3d6.251444!4d-75.563277">
                    Ver ubicación</a>
            </p>
        </div>
    </div>
</div>