<div class="container">
    <h2>Contáctenos</h2><br>
    <div class="row">
        <div class="col-sm">
            <form>
                <label for="nombre">Nombre completo</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="material-icons">group</i></span>
                    </div>
                    <input type="text" class="form-control" aria-label="Nombre" aria-describedby="basic-addon1" name="nombre">
                </div>
                <label for="correo">Correo electrónico</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="material-icons">email</i></span>
                    </div>
                    <input type="text" class="form-control" aria-label="Correo" aria-describedby="basic-addon1" name="correo">
                </div>
                <label for="correo">Teléfono / Celular</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="material-icons">call</i></span>
                    </div>
                    <input type="text" class="form-control" aria-label="Telefono" aria-describedby="basic-addon1" name="telefono">
                </div>
                <label for="mensaje">Mensaje</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="material-icons">message</i></span>
                    </div>
                    <textarea class="form-control" aria-label="With textarea" name="mensaje"></textarea>
                </div>
                <br>
                <button class="btn btn-primary">Enviar mensaje</button>
            </form>
        </div>
        <div class="col-sm">
            <img src="assets/img/telefono.svg">
            <h3>Citas</h3>
            <p>
                (+57) 322 705 2980
            </p>
            <hr>
            <img src="assets/img/ubicacion.svg">
            <h3>Ubicación</h3>
            <p>
                Carrera 46 # 54 - 14 <br>Consultorio 1303<br>
                <a target="_blank" href="https://www.google.com/maps/place/Cra.+46+%2320,+Medell%C3%ADn,+Antioquia/@6.2513471,-75.56376,19z/data=!4m19!1m13!4m12!1m6!1m2!1s0x8e4429a99808874f:0xba09b80c76bc38df!2sEdificio+Comedal,+Cra.+46+%23%2354-14,+Medell%C3%ADn,+Antioquia!2m2!1d-75.5630516!2d6.2512232!1m3!2m2!1d-75.5633616!2d6.2514396!3e2!3m4!1s0x8e4428f9d03d7249:0x848f992a08921673!8m2!3d6.251444!4d-75.563277">Edificio
                    Comedal</a>
            </p>
        </div>
    </div><br><br>
</div>