<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h2>Inicio de sesión</h2><br>
        <form>
            <label for="nombre">Correo electrónico</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="material-icons">email</i></span>
                </div>
                <input type="text" class="form-control" aria-label="Nombre" aria-describedby="basic-addon1" name="nombre">
            </div>

            <label for="nombre">Contraseña</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="material-icons">vpn_key</i></span>
                </div>
                <input type="text" class="form-control" aria-label="Clave" aria-describedby="basic-addon1" name="clave">
            </div>

            <button class="btn btn-primary">Ingresar</button><br>
            <a href="">¿Olvidaste tu contraseña?</a>
        </form>
    </div>
</div>