<div class="container">
    <h2>Noticias</h2><br>
    <div *ngIf="!mostarDetalle">
        <ul>
            <li *ngFor="let noticia of noticias; let i = index">
                <span></span>
                <div>
                    <div class="title">{{noticia.Tema}}</div>
                    <div class="info">{{noticia.Descripcion | slice: 0:500}}...</div>
                    <div class="type"><button type="button" class="btn btn-primary" (click)="mostrarDetalle(i)">Ver mas</button></div>
                </div> <span class="number"><span>{{noticia.Fecha}}</span> <span></span></span>
            </li>
        </ul>
    </div>

    <div *ngIf="mostarDetalle">
        <h2>{{noticia.Tema}}</h2><br>
        <p>
            {{noticia.Descripcion}}
        </p>
        <iframe [src]="noticia.Video | videoYoutube" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <button class="btn btn-primary" (click)="mostrarDetalle()">Regresar a las noticias</button>
    </div>
</div>
<div class="divLoading" *ngIf="cargando"></div>