:root {
    --primary-color: rgba(67, 119, 169, 1);
    /*#4377a9 */
    --secondary-color: #5A48E8;
    /* --secondary-color: #C0CC3D; */
}

html * {
    font-family: Arial Narrow, sans-serif;
}

.bgLogin {
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url(assets/img/logo.jpg);
    /* background-image: url(assets/img/muelitas2.jpg); */
    background-image: url(assets/img/muelitas_copy.jpg);
    background-color: white;
    background-size: contain;
    background-repeat: repeat;
    background-attachment: fixed;
    opacity: .5;
}

.container {
    width: 100%;
    padding-top: 1%;
    padding: 1% 1% 2% 1%;
    margin: 3% auto;
    opacity: 0.9;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 25px;
}

ul {
    padding-left: 55px;
    list-style-image: url('./assets/img/toothbrush.png');
}

li {
    text-align: left;
    letter-spacing: 1.3px;
}

p,
label {
    font-size: 1rem;
    letter-spacing: 1.3px;
}

h2 {
    color: var(--primary-color);
    font-weight: bold;
    text-align: center;
}


/* Inicio Bootstrap */

.btn-primary {
    background: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-secondary {
    background: var(--secondary-color);
    border-color: var(--secondary-color);
}

.input-group-text {
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    color: white;
}


/* Fin Bootstrap */